.blue-top {
    background: rgb(36, 146, 236);
    position: fixed;
    width: 100vw;
    height: 60vh;
    z-index: -1;
}

.blue-bottom {
    background: rgb(36, 146, 236);
    border-radius: 50%;
    position: fixed;
    width: 100vw;
    height: 35vh;
    top: 42.5vh;
    z-index: -1;
}

.title {
    font-family: Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    user-select: none;
    color: white;
    font-size: 7vh;
    top: 30vh;
    right: 0;
    left: 0;
}

.copy-title {
    cursor: pointer;
}

.footer {
    background-color: #9b9b9b;
    position: absolute;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 1vh;
    height: 4vh;
    width: 98vw;
    top: 95vh;
}

.input-area {
    padding-left: 20vw;
    position: fixed;
    top: 50vh;
}

.url-in {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    border-style: none;
    padding-left: 1vw;
    font-size: 4vh;
    outline: none;
    width: 49vw;
}

.submit-button {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    border-style: none;
    font-size: 4vh;
    outline: none;
    width: 10vw;
}

input[type="button"]:hover {
    background-color: rgb(194, 194, 194);
    cursor: pointer;
}

a {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 3vh;
}

body {
    background-color: #d6d6d6;
    padding: 0;
    margin: 0;
}

button {
    font-family: Helvetica, sans-serif; 
}