.blue-top {
    background: rgb(36, 146, 236);
    position: fixed;
    width: 100vw;
    height: 60vh;
    z-index: -1;
}

.blue-bottom {
    border-bottom-right-radius: 50vw 9vh;
    border-bottom-left-radius: 50vw 9vh;
    background: rgb(36, 146, 236);
    position: fixed;
    width: 100vw;
    height: 35vh;
    top: 42.5vh;
    z-index: -1;
}

.title-div {
    position: absolute;
    text-align: center;
    width: 40vw;
    left: 30vw;
    top: 30vh;
    right: 0;
}

.title {
    font-family: monospace;
    word-wrap: break-word;
    letter-spacing: 0.1vw;
    user-select: none;
    color: #303030;
    font-size: 6vh;
}

.copy-title {
    cursor: pointer;
}

.footer {
    background-color: #303030;
    padding: 1vh 1vw 1vh 1vw;
    position: absolute;
    height: 3vh;
    width: 98vw;
    top: 95vh;
}

.input-area {
    padding-left: 25vw;
    position: fixed;
    display: flex;
    height: 7vh;
    width: 50vw;
    top: 50vh;
}

.url-in {
    padding: 0.5vh 0 0.5vh 1.5vw;
    background-color: #303030;
    border-radius: 7vh 0 0 7vh;
    border-color: #303030;
    border-style: solid;
    border-right: none;
    border-width: 3px;
    font-size: 4vh;
    color: white;
    width: inherit;
    outline: none;

}

.submit-button {
    background-color: #303030;
    border-radius: 0 7vh 7vh 0;
    border-color: #303030;
    border-style: solid;
    border-left: none;
    border-width: 3px;
    height: initial;
    width: 10vh;

}

.submit-button:hover {
    background-color: #4b4b4b;
    cursor: pointer;
}

.img-div {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    margin-left: 1.5vh;
    user-select: none;
    height: 5vh;
    width: 5vh;
    top: 50%;

}

.submit-button-img {
    height: 5vh;
    width: 5vh;
}

a {
    font-family: monospace;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 3vh;
}

body {
    background-color: #303030;
    padding: 0;
    margin: 0;
}

button {
    font-family: monospace; 
}


/* snackbar styles */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #fff;
    color: #333;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: monospace;
    border-radius: 50px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* snackbar keyframe animations */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
} 
@-webkit-keyframes fadeout {
    from { opacity: 1;}
    to {bottom: 0; opacity: 0;}
} 
@keyframes fadeout {
    from { opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* tooltip styles */

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted whitesmoke; */
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #303030;
    color: whitesmoke;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    font-family: monospace;
    padding: 10px;
}
.tooltip.active:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #303030 transparent transparent transparent;
}